<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span class="spacer"></span>
     <a mat-button routerLink="/secured">Dashboard</a>
     <a mat-button routerLink="/login"><mat-icon class="icon">input</mat-icon>Login</a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input  matInput [(ngModel)]="username"  placeholder="Username" name="username">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput [(ngModel)]="password" type="password" placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
   </mat-card-actions>
</mat-card>
